body {
  background-image: url("pattern.jpg");
  width:auto;
  margin:0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: white;
}
header img {
  padding: 0px;
  margin: 0px;
  float: left;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  float: left;
  display: inline;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align:top;
}

section{
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 30px;
}

h1 {
  background-color: white;
  text-align: center;
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 0px;
}

div {
  background-color: white;
  grid-area: content;
  text-align: justify;
  padding: 5px;
}

p{
  padding-bottom: 10px;
  border-bottom: 2px solid #D3D3D3;
}

footer {
  text-align: center;
  background: black;
  color: white;
  padding: 5px; 
}

